.manage-table {
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border: 1px solid #000;
}
.manage-table img {
  width: 100px;
}
.delete-btn {
  width: 120px;
  text-align: center;
  border: 2px solid #e72b2b;
  color: #ffffff;
  padding: 7px 10px;
  font-size: 17px;
  transition: 0.6s;
  background-color: #e72b2b;
  margin: 30px 0;
}
.delete-btn:hover {
  background: transparent;
  color: #e72b2b;
}


@media screen and (max-width: 667px) {
  .manage-table{
    display: block;
    text-align: center;
  }
  .manage-table img{
    width: 100%;
  }
}