.navbar-custom {
  background: linear-gradient(45deg, #5b86e5, #36d1dc);
}
.my-button {
  border: 2px solid #fff;
  background-color: #ffffff;
  color: black;
  padding: 4px;
  border-radius: 4px;
  transition: 0.3s;
}
.my-button:hover {
  background: transparent;
  color: #fff;
}
